.wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 50%;
}
.wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .wrapper button{
      border-radius: 50%;
      padding: 3;
      border: none;

  }
  .forma{
    width: 60%;
    margin-left:20%;
    margin-top: 1%;
    background-color: white;
    margin-bottom: 5%; 
    border: 1px solid #d9d7d7;
    border-radius: 10px;
  }
  .forma #button{
      width: 60%;
      margin-left: 20%;
  }
  
 
